#drips{
    margin: 0px;
    padding: 5px;
    background-color: purple;
    color: black;

    display: flex;
}

.centralizar{
    text-align: center;

}
body{
background-color: whitesmoke
}
.carousel{
display: flex;  
overflow: hidden;
width: 300px;;
}
.carousel.img{
 width: 100px; 
 
}
