#drips{
    
    padding: 5px;
    margin: 0px;
    background-color: purple;
    color: black;
    display: flex;
    border-style: solid;
}

.flex{
    display: flex;
}

.banner{
text-align: center;
background-color:beige;
padding: 30px;

}
body{

background-color: whitesmoke

}
.carousel{
 display: flex;

margin: 100px;

}
.carousel.img{
width: 100px;
height: 400px;


}
#navbar{

}
